<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly on the Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body style="background-color: #d9eeff;">

    <!--Barra di navigazione-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #ffffff;">Fly on the Cloud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <img src="{{url_for('static', filename='Logo.png')}}" alt="Bootstrap" width="58" height="40">
              <a class="nav-link disabled">    </a>
              <a class="nav-link active" aria-current="page" href="/{{ username }}/home" style="color: #ffffff;">Home</a>
              <a class="nav-link" href="/{{ username }}/logout" style="color: #ffffff;">Logout</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container mt-5" style="background-color: #ffffff;">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group"">
        <form action="/{{ username }}/home" method="GET">
          <button type="submit" class="btn btn-primary my-3"">Indietro</button>        
        </form>
      </div>
      <p style="font-size: 30px;">Risultati della ricerca: sono stati trovati {{ num }} voli</p>
      {% for card in items %}
      <div class="card mt-5" style="border-style: double;">
        <h5 class="card-header">Aereoporto di partenza: {{ card.partenza }}</h5>
        <h5 class="card-header">Aereoporto di arrivo: {{ card.arrivo }}</h5>
        <div class="card-body">
          <h5 class="card-title">Orario del volo: {{ card.orario }}</h5>
          <p class="card-text">{{ card.data }}.</p>
          <p class="card-text">PREZZO PER POSTO: € {{ card.prezzoBase }}</p>
          <p class="card-text">NUMERO DI POSTI ATTUALMENTE DISPONIBILI: {{ card.numPosti }}</p>
          <div style="display:flex;">
            <a href="/{{ username }}/{{ card.compagnia }}/{{ card.idVolo }}/resoconto" class="btn btn-primary" style="margin-right:100px;">PRENOTA</a>
            <a href="/{{ username }}/{{ card.compagnia }}/{{ card.idVolo }}/serviziAggiuntivi" class="btn btn-primary">PRENOTAZIONE PERSONALIZZATA</a>
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>

</html>
