<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly on the Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body style="background-color: #d9eeff;">

    <!--Barra di navigazione-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #ffffff;">Fly on the Cloud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <img src="{{url_for('static', filename='Logo.png')}}" alt="Bootstrap" width="58" height="40">
              <a class="nav-link disabled">    </a>
              <a class="nav-link active" aria-current="page" href="/" style="color: #ffffff;">Home</a>
              <a class="nav-link" href="/accedi" style="color: #ffffff;">Accedi</a>
              <a class="nav-link" href="/iscriviti" style="color: #ffffff;">Iscriviti</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container my-4 text-center" style="max-width: 1160px;">
      	<form action="/booking" method="POST">
      		<!--Messaggio di saluto-->
      		<h3 class="display-5" style="color: #646464;"><em>Ciao {{fullName}}!</em>
      		<br>Prenota subito un volo con Fly on the Cloud.</h3>
			<input type="text" id="fname" name="fullName" value="{{ fullName }}"><br><br>
      		<!--Dropdown per la selezione di data, aeroporto di partenza, aeroporto di destinazione e numero di biglietti da acquistare-->
      		<table align="center">
        		<tr>

          		<td>
            		<div class="dropdown my-5">
              		<select name="giorno" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
                		<option disabled selected>Giorno</option>
                		{% for i in range(1,32) %}
                		<option value="{{ i }}">{{ i }}</option>
                		{% endfor %}
              		</select>
            		</div>
          		</td>

          		<td>
            		<div class="dropdown my-5">
              		<select name="mese" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
                		<option disabled selected>Mese</option>
                		<option value="1">1</option>
                		<option value="2">2</option>
                		<option value="3">3</option>
                		<option value="4">4</option>
                		<option value="5">5</option>
                		<option value="6">6</option>
                		<option value="7">7</option>
                		<option value="8">8</option>
                		<option value="9">9</option>
                		<option value="10">10</option>
                		<option value="11">11</option>
                		<option value="12">12</option>
              		</select>
            		</div>
          		</td>

          		<td>
            		<div class="dropdown my-5">
              		<select name="anno" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
                		<option disabled selected>Anno</option>
		                {% for i in range(2022,2024) %}
        		        <option value="{{ i }}">{{ i }}</option>
        		        {% endfor %}
        		      </select>
        		    </div>
        		</td>
          
          		<td>
            		<div class="dropdown my-5">
              		<select name="aereoporto_partenza" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
                		<option disabled selected>Aeroporto di partenza</option>
                		<option value="Fiumicino (Roma)">Fiumicino (Roma)</option>
                		<option value="Heathrow (Londra)">Heathrow (Londra)</option>
                		<option value="Schiphol (Amsterdam)">Schiphol (Amsterdam)</option>
              		</select>
            		</div>
          		</td>

          		<td>
            		<div class="dropdown my-5">
              		<select name="aereoporto_arrivo" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
                		<option disabled selected>Aeroporto di arrivo</option>
                		<option value="Fiumicino (Roma)">Fiumicino (Roma)</option>
                		<option value="Heathrow (Londra)">Heathrow (Londra)</option>
                		<option value="Schiphol (Amsterdam)">Schiphol (Amsterdam)</option>
              		</select>
            		</div>
          		</td>

          		<td>
            		<div class="dropdown my-5">
              		<select name="persone" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" required>
                		<option disabled selected>Numero di persone</option>
		                {% for i in range(1,11) %}
        		        <option value="{{ i }}">{{ i }}</option>
        		        {% endfor %}
        			</select>
            		</div>
          		</td>

        		</tr>
      		</table> 
      
      		<button type="submit" class="btn btn-primary my-5">Avanti</button>
    	</form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>

</html>
