<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly on the Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body onload="load();" style="background-color: #d9eeff;">

    <!--Barra di navigazione-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #ffffff;">Fly on the Cloud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <img src="{{url_for('static', filename='Logo.png')}}" alt="Bootstrap" width="58" height="40">
              <a class="nav-link disabled">    </a>
              <a class="nav-link active" aria-current="page" href="/" style="color: #ffffff;">Home</a>
              <a class="nav-link" href="/accedi" style="color: #ffffff;">Accedi</a>
              <a class="nav-link" href="/iscriviti" style="color: #ffffff;">Iscriviti</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="accordion m-5" id="accordion-example">
      <form action="/iscriviti" method="POST">
        <!--Input surname-->
        <div class="mb-3">
          <label for="inputUsername" class="form-label">Username</label>
          <textarea class="form-control" type="text" name="inputUsername" rows="1" required>{{ request.form['inputUsername'] }}</textarea>
        </div>

        <!--Input email-->
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Indirizzo email</label>
          <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp" value="{{ request.form['inputEmail'] }}" required>
          <div id="emailHelp" class="form-text">Non condivideremo con nessuno il tuo indirizzo email.</div>
        </div>

        <!--Input password-->
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" name="inputPassword" value="{{ request.form['inputPassword'] }}" required>
        </div>

        <!--Input password confirm-->
        <div class="mb-3">
          <label for="inputPasswordConfirm" class="form-label">Conferma password</label>
          <input type="password" class="form-control" name="inputPasswordConfirm" value="{{ request.form['inputPasswordConfirm'] }}" required>
          <div id="passwordHelp" class="form-text">Ricorda che il campo "Conferma password" deve corrispondere al campo "Password".</div>
        </div>

        <!--Input Carta di credito-->
        <div class="mb-3">
          <label for="inputCarta" class="form-label">Carta di credito</label>
          <input inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="XXXX XXXX XXXX XXXX" type="te1" class="form-control" name="inputCarta" value="{{ request.form['inputCarta'] }}" required>
        </div>

        <!--Radio button per indicare la tipologia di utente-->
        <div class="form-check my-3">
            <input onclick="turista()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Turista" checked>
            <label class="form-check-label" for="flexRadioDefault1">Sono un turista</label>
        </div>
        <div class="form-check">
            <input onclick="compagnia()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="Compagnia aerea">
            <label class="form-check-label" for="flexRadioDefault2">Sono una compagnia aerea</label>
        </div>

        <script>
          // Disattivare la select per gli utenti turisti
          function load(){
            document.getElementById("selectCompagnia").disabled = true;
          }
          function turista(){
            document.getElementById("selectCompagnia").disabled = true;
          }
          function compagnia() {
            document.getElementById("selectCompagnia").disabled = false;
          }
        </script>

        <!--Airline selection-->
        <div class="dropdown my-4">
          <label for="airlineDropdown" class="form-label">Selezionare la compagnia aerea</label><br>
          <select id="selectCompagnia" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="airlineDropdown">
            <option selected value="EasyJet">EasyJet</option>
            <option value="ITA">ITA</option>
            <option value="Ryanair">Ryanair</option>
          </select>
          <div id="dropdownHelp" class="form-text">Solo per i dipendenti di una compagnia aerea.</div>
        </div>

        <button type="submit" class="btn btn-primary my-3">Conferma iscrizione</button>
      </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>

</html>
