<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly on the Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body style="background-color: #d9eeff;">

    <!--Barra di navigazione-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #ffffff;">Fly on the Cloud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <img src="{{url_for('static', filename='Logo.png')}}" alt="Bootstrap" width="58" height="40">
              <a class="nav-link disabled">    </a>
              <a class="nav-link active" aria-current="page" href="/" style="color: #ffffff;">Home</a>
              <a class="nav-link" href="/accedi" style="color: #ffffff;">Accedi</a>
              <a class="nav-link" href="/iscriviti" style="color: #ffffff;">Iscriviti</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container my-4 text-center" style="max-width: 1160px;">

      <h3 class="display-5" style="color: #646464;">Modifica i prezzi per la selezione dei posti a sedere.</h3>

      <!--Immagine che mostra i posti dell'aereo + legenda-->
      <table align="center">
        <tr>
          <td>
            <img src="{{url_for('static', filename='Aereo.png')}}" alt="Aereo" width="142.5" height="513">
          </td>
          <td>
            <img src="{{url_for('static', filename='LegendaPosti.png')}}" alt="LegendaPosti" width="411" height="193">
          </td>
        </tr>
      </table>

      <form action="/{{airline}}/{{fullName}}/modifySeatsPrices" method="POST">
        <!--Input prezzo fila 1-->
        <div class="my-5">
            <label for="inputPrice1" class="form-label">Nuovo prezzo fila 1</label>
            <textarea class="form-control" type="text" name="inputPrice1" aria-describedby="priceHelp1" rows="1" required>{{ request.form['inputPrice1'] }}</textarea>
            <div id="priceHelp1" class="form-text">La parte intera del prezzo deve essere separata dall'eventuale parte decimale con un punto.</div>
        </div>

        <!--Input prezzo file 2-5-->
        <div class="my-5">
          <label for="inputPrice2" class="form-label">Nuovo prezzo file 2-5</label>
          <textarea class="form-control" type="text" name="inputPrice2" aria-describedby="priceHelp2" rows="1" required>{{ request.form['inputPrice2'] }}</textarea>
          <div id="priceHelp2" class="form-text">La parte intera del prezzo deve essere separata dall'eventuale parte decimale con un punto.</div>
        </div> 
        
        <!--Input prezzo file 6-15-->
        <div class="my-5">
          <label for="inputPrice6" class="form-label">Nuovo prezzo file 6-15</label>
          <textarea class="form-control" type="text" name="inputPrice6" aria-describedby="priceHelp6" rows="1" required>{{ request.form['inputPrice6'] }}</textarea>
          <div id="priceHelp6" class="form-text">La parte intera del prezzo deve essere separata dall'eventuale parte decimale con un punto.</div>
        </div>

        <!--Input prezzo file 16-17-->
        <div class="my-5">
          <label for="inputPrice16" class="form-label">Nuovo prezzo file 16-17</label>
          <textarea class="form-control" type="text" name="inputPrice16" aria-describedby="priceHelp16" rows="1" required>{{ request.form['inputPrice16'] }}</textarea>
          <div id="priceHelp16" class="form-text">La parte intera del prezzo deve essere separata dall'eventuale parte decimale con un punto.</div>
        </div>

        <!--Input prezzo file 18-26-->
        <div class="my-5">
          <label for="inputPrice18" class="form-label">Nuovo prezzo file 18-26</label>
          <textarea class="form-control" type="text" name="inputPrice18" aria-describedby="priceHelp18" rows="1" required>{{ request.form['inputPrice18'] }}</textarea>
          <div id="priceHelp18" class="form-text">La parte intera del prezzo deve essere separata dall'eventuale parte decimale con un punto.</div>
        </div>  

        <button type="submit" class="btn btn-primary my-3">Conferma</button>
      </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>

</html>
