<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly on the Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body style="background-color: #d9eeff;">

    <!--Barra di navigazione-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #ffffff;">Fly on the Cloud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <img src="{{url_for('static', filename='Logo.png')}}" alt="Bootstrap" width="58" height="40">
              <a class="nav-link disabled">    </a>
              <a class="nav-link active" aria-current="page" href="/{{ username }}/home" style="color: #ffffff;">Home</a>
              <a class="nav-link" href="/{{ username }}/logout" style="color: #ffffff;">Logout</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container mt-5" style="background-color: #ffffff;">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="display: flex;justify-content: space-between;">
        <form action="/{{ username }}/booking" method="GET">
          <button type="submit" class="btn btn-primary my-3">Indietro</button>        
        </form>
      </div>
      <form action="/{{ username }}/{{ card.idVolo }}/personalizzato" method="POST">
      <div class="container my-4 text-center" style="max-width: 1160px;">
        <div style="padding-bottom: 100px;">
        <h3 class="display-3" style="color: #646464;">Selezionare i posti che si desidera prenotare</h3>
        </div>
      <h1 class="display-6" style="color: #646464;">Il prezzo dei posti disponibili per file è illustrato all'interno della tabella</h1>
        <div style="padding-top: 50px;padding-bottom: 50px;">
        <table align="center" style="border:1px solid black;width: 100%;">
          <tr>
            <th style="border:1px solid black;">Fila 1</th>
            <th style="border:1px solid black;">File 2-5</th>
            <th style="border:1px solid black;">File 6-15</th>
            <th style="border:1px solid black;">Fila 16-17</th>
            <th style="border:1px solid black;">Fila 18-26</th>
          </tr>
          <tr>
            <td style="border:1px solid black;">${{ seatsFlight.primo }}</td>
            <td style="border:1px solid black;">${{ seatsFlight.secondo }}</td>
            <td style="border:1px solid black;">${{ seatsFlight.terzo }}</td>
            <td style="border:1px solid black;">${{ seatsFlight.quarto }}</td>
            <td style="border:1px solid black;">${{ seatsFlight.quinto }}</td> 
          </tr>
        </table>
      </div>
  
        <!--Immagine che mostra i posti dell'aereo + legenda-->
        <table align="center">
          <tr>
            <td>
              <img src="{{url_for('static', filename='Aereo.png')}}" alt="Aereo" width="142.5" height="513">
            </td>
            <td>
              <h1 class="display-6" style="color: #646464;">Descrizione dei posti</h1>
              <img src="{{url_for('static', filename='LegendaPosti.png')}}" alt="LegendaPosti" width="411" height="193">
            </td>
            <td>
              <h1 class="display-6" style="color: #646464;">Seleziona i posti</h1>
              <select name="postiSelezionati" width=300 style="width: 350px"
              size="8" multiple>
            {% for posto in postiDisponibiliVolo %}
              <option value='{{ posto }}'>{{ posto }}</option>
            {% endfor %}
            </select>
            </td>
          </tr>
        </table>
        <h3 class="display-3" style="color: #646464;">Selezionare i servizi aggiuntivi</h3>
        <h1 class="display-6" style="color: #646464;">Il prezzo dei servizi aggiuntivi è il seguente:</h1>


        <div style="padding-top: 50px;padding-bottom: 50px;">
          <table align="center" style="border:1px solid black;width: 100%;">
            <tr>
              <th style="border:1px solid black;">Bagaglio speciale</th>
              <th style="border:1px solid black;">Bagaglio stiva medio</th>
              <th style="border:1px solid black;">Bagaglio stiva grande</th>
              <th style="border:1px solid black;">Assicurazione bagagli</th>
              <th style="border:1px solid black;">Animale domestico</th>
              <th style="border:1px solid black;">Neonato</th>
            </tr>
            <tr>
              <td style="border:1px solid black;">${{ additionalServices.bagaglioSpeciale }}</td>
              <td style="border:1px solid black;">${{ additionalServices.bagaglioStivaMedio }}</td>
              <td style="border:1px solid black;">${{ additionalServices.bagaglioStivaGrande }}</td>
              <td style="border:1px solid black;">${{ additionalServices.assicurazioneBagagli }}</td>
              <td style="border:1px solid black;">${{ additionalServices.animaleDomestico }}</td> 
              <td style="border:1px solid black;">${{ additionalServices.neonato }}</td> 
            </tr>
          </table>
          <div style="padding-top: 50px;">
          <table align="center">
            <tr>
              <td>
                <div class="mb-3">
                  <label for="Bagaglio speciale" class="form-label">Bagaglio speciale</label>
                  <input id = "bagaglioSpeciale" type="number" value="0" min="0" class="form-control" name="Bagaglio speciale" aria-describedby="bagaglioSpecialeHelp">
                </div>
                <div class="mb-3">
                  <label for="Bagaglio stiva medio" class="form-label">Bagaglio stiva medio</label>
                  <input id = "bagaglioStivaMedio" type="number" value="0" min="0" class="form-control" name="Bagaglio stiva medio" aria-describedby="bagaglioStivaMedioHelp">
                </div>
                <div class="mb-3">
                  <label for="Bagaglio stiva grande" class="form-label">Bagaglio stiva grande</label>
                  <input id = "bagaglioStivaGrande" type="number" value="0" min="0" class="form-control" name="Bagaglio stiva grande" aria-describedby="bagaglioStivaGrandeHelp">
                </div>
                <div class="mb-3">
                  <label for="assicurazioneBagagli" class="form-label">Assicurazione bagagli</label>
                  <input id = "assicurazioneBagagli" type="number" value="0" min="0" class="form-control" name="assicurazioneBagagli" aria-describedby="assicurazioneBagagliHelp">
                </div>
                <div class="mb-3">
                  <label for="Animale domestico" class="form-label">Animale domestico</label>
                  <input id = "animaleDomestico" type="number" value="0" min="0" class="form-control" name="Animale domestico" aria-describedby="animaleDomesticoHelp">
                </div>
                <div class="mb-3">
                  <label for="Neonato" class="form-label">Neonato</label>
                  <input id="neonato" type="number" value="0" min="0" class="form-control" name="Neonato" aria-describedby="neonatoHelp">
                </div>
              </td>
            </tr>
          </table>
        </div>
        </div>      
      </div>
      <button type="submit" onclick="myFunction()" class="btn btn-primary my-3" >Avanti</button> 
    </form>

      <script>
        function myFunction() {
          document.getElementById("animaleDomestico").defaultValue = 0;
          document.getElementById("assicurazioneBagagli").defaultValue = 0;
          document.getElementById("bagaglioStivaGrande").defaultValue = 0;
          document.getElementById("bagaglioStivaMedio").defaultValue = 0;
          document.getElementById("bagaglioSpeciale").defaultValue = 0;
          document.getElementById("neonato").defaultValue = 0;
        }
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>

</html>
