[Unit]
Description=Simple systemd service for pypy project.
[Service]
Type=simple
WorkingDirectory=/home/ec2-user/Scrivania/'Work in progress'/progetto-SDCC/prove/ec2/pypy
ExecStart=/bin/bash /home/ec2-user/Scrivania/'Work in progress'/progetto-SDCC/prove/ec2/pypy/Run.sh
[Install]
WantedBy=multi-user.target
